@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper {
    overflow: hidden;
}

.container {
    padding-left: 127px;
    padding-right: 100px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: left;
}

button {
    cursor: pointer;
}

p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: rgba(255, 255, 255, 1);
}

/* head start */

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding-top: 17px;
    padding-bottom: 17px;
    background: rgba(19, 101, 1, 1);
}

.head>div {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.head>div>a {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s;
}

.head>div>a:hover {
    opacity: .7;
}

.head p {
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* head end */


/* header start */


header {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

header nav {
    width: 100%;
}

header nav .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
}

header nav .navbar>li {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav .navbar a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    color: rgba(19, 101, 1, 1);
    transition: .2s;
}

header nav .navbar>li:hover>a {
    color: rgba(71, 201, 55, 1);
}


/* popup */

.navbar-lab {
    position: relative;
    padding-right: 30px;
    height: 70px;
}

.navbar-lab::after {
    content: '';
    width: 20px;
    height: 11px;
    background-image: url(images/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-lab>ul {
    position: absolute;
    z-index: 9;
    top: calc(100% + 0px);
    right: -29px;
    display: none;
    flex-direction: column;
    padding: 33px 25px 25px 25px;
    gap: 20px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    list-style: none;
}

@media screen and (min-width:550px) {
    .navbar-lab:hover ul {
        display: flex;
    }
}

.navbar-lab ul li a {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

/* popup */

/* header end */

/* homeSwiper start */

.home-swiper {
    width: 100%;
}

.home-swiper-slide {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.home-slide-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.home-swiper-slide>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-swiper-slide>div>h2 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 300;
    line-height: 33.89px;
    text-align: center;
}

.home-swiper-item {
    min-width: 800px;
    align-self: flex-end;
    width: fit-content;
    padding: 20px 75px 20px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home-swiper-item h2 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58.09px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.home-swiper-item ul {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.home-swiper-item ul li {
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
}

.home-swiper-item button.btn-green {
    font-size: 32px;
    padding: 9px 121px 15px 30px;
    border-radius: 20px;
}

.home-swiper-item button.btn-green::after {
    width: 28px;
    height: 30px;
    right: 78px;
}

button.btn-green {
    transition: .2s;
    width: fit-content;
    min-height: 54px;
    font-family: Inter;
    font-weight: 700;
    background: rgba(19, 101, 1, 1);
    border-radius: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #fff;
    border: none;
    font-size: 13px;
    padding: 13px;
    padding-right: calc(13px + 30px + 5px);
    border-radius: 10px;
    position: relative;
}

button.btn-green:hover,
.phone-input button:hover,
.recommendations-btn-grn:hover {
    background: rgba(19, 150, 1, 1);
}

button.btn-green::after {
    content: '';
    background-image: url(images/green-btn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.home-swiper-item span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
    text-align: left;
}

.swiper-button-prev {
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: 127px;
}

.swiper-button-next {
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 120px;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

/* homeSwiper end */

/* popular-tests start */

.popular-tests {
    padding-top: 35px;
    padding-bottom: 60px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    position: relative;
}

.test-item {
    width: fit-content;
    height: 100%;
    padding: 35px 20px;
    background: rgba(226, 223, 223, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
}

.test-item>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.test-item h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.popular-tests .swiper2 {
    width: 100%;
    width: calc(100% - 80px);
}

.popular-tests .swiper-wrapper {
    width: 100%;
}

.for_test_swiper {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-test {
    max-height: 80px;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 30px;
    background: rgba(19, 101, 1, 0.4);
    border-radius: 20px;
}

.search-test img {
    cursor: pointer;
}

.search-test input {
    border: none;
    background: transparent;
    outline: none;
    height: 100%;
    width: 100%;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

.search-test input::placeholder {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

.test-swiper-button-next {
    cursor: pointer;
}


.complex-research .test-item {
    height: 190px;
}

/* popular-tests end */

/* home-about start */

.home-about {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url(images/labBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    gap: 60px;
    justify-content: space-between;
    position: relative;
}

.home-about::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(19, 101, 1, 0.7);
}

.home-about-item {
    min-height: 286px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-about-item>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


.home-about span {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.home-about h3 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.home-about img {
    max-width: 100px;
    object-fit: cover;
    margin-top: 30px;
}

/* home-about end */

/* recommendation start */

.recommendations button.btn-green::after {
    display: none;
}

.recommendations-btn-grn {
    transition: .2s;
    font-size: 20px;
    font-weight: 700;
    background: rgba(19, 101, 1, 1);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 30px;
    min-width: 290px;
    align-self: center;
    font-family: Inter;
}

.recommendations-item-btn-grn {
    min-width: fit-content;
    padding: 5px 20px;
    font-size: 16px;
    align-self: flex-start;
}

.rec-item {
    height: fit-content;
    border-radius: 20px;
    background: rgba(226, 223, 223, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.rec-item-bottom {
    padding: 20px 10px 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.rec-item-bottom>button {
    margin-top: 5px;
}

.rec-item h3 {
    max-width: 182px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.rec-item span {
    max-width: 360px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.rec-item>img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* recommendation end */

/* comments start */

.swiper5 {
    width: 100%;
}

.home-comments>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-comments {
    padding-right: 45px;
}

.home-comments span {
    max-width: 250px;
}

.home-comments h3 {
    font-family: Inter;
}

/* comments end */

/* footer start */

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    background: rgba(19, 101, 1, 1);
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #fff;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-top-right>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer span {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

footer li a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

footer h5 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

footer h2 {
    font-family: Inter;
    font-size: 29px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 35px;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    list-style: none;
    padding: 35px;
}


/* footer end */

/* mobile call nurse start */

.call-nurse-box {
    display: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.call-nurse {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    background: rgba(134, 35, 35, 1);
    border-radius: 20px;
    cursor: pointer;
}

.call-nurse span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/* mobile call nurse end */


.for_mobile-navbar-lab,
.burger-btn,
.home-about-item h5,
.home-about-item h4 {
    display: none;
}

/* file location start */

.site-location {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.site-location a {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}


/* file location end */

/* sales start */

.sales {
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.sales-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 80px;
}

.sales-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(226, 223, 223, 1);
    backdrop-filter: blur(3px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.sales-item>img {
    width: 100%;
    border-radius: 20px;
}

.sales-item-bottom {
    height: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.sales-item h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}

.sales-item h3 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    color: rgba(19, 101, 1, 1);
}

.sales-item h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    color: rgba(117, 117, 117, 1);
}

.sales-item span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    /* margin-top: 20px; */
}

.sales-item button {
    margin-top: 10px;
}


/* sales end */



/* phone start */

.phone-block {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 100%;
    padding: 20px 60px;
    border-radius: 20px;
    background: rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.phone h1 {
    max-width: 800px;
    text-align: center;
}

.phone h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    color: rgba(19, 101, 1, 1);
    text-align: center;
}

.phone-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.phone-input {
    display: flex;
    align-items: center;
    height: 60px;
    gap: 19px;
}

.phone-input input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.phone-input input,
.phone-input input::placeholder {
    font-family: Inter;
    font-size: 48px;
    font-weight: 200;
    color: rgba(117, 117, 117, 1);
}

.phone-input button {
    transition: .2s;
    width: fit-content;
    text-wrap: nowrap;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background: rgba(19, 101, 1, 1);
    border-radius: 20px;
    height: 100%;
    padding: 10px 18px;
    border: none;
}

.phone-bottom {
    display: flex;
    align-items: center;
    gap: 9px;
}

.phone-bottom label {
    font-family: Inter;
    font-size: 24px;
    font-weight: 200;
    color: #000;
    text-align: center;
    cursor: pointer;
}

.phone>span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 200;
    color: #000;
    text-align: center;
}

.phone-bottom>input {
    cursor: pointer;
    appearance: none;
    width: 38px;
    height: 38px;
    border: 3.2px solid rgba(117, 117, 117, 1);
    border-radius: 6px;
    position: relative;
}

.phone-bottom>input::after {
    content: url(images/SliceCheck.png);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.phone-bottom>input:checked::after {
    display: flex;
    height: 21px;
}

/* phone end */
.navbar-lab-plus {
    transition: .2s;
}

/* biochemical-complex start */

.biochemical-complex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    padding-bottom: 100px;
    padding-top: 20px;
}

.biochemical-complex h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.biochemical-complex ul {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.biochemical-complex span {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.biochemical-complex span span {
    font-weight: 700;
}

.biochemical-complex ul li {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.biochemical-complex h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}

.biocomplex-block {
    display: flex;
    gap: 23px;
}

.biocomplex-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.biocomplex-block>img {
    margin-top: 50px;
    max-width: 450px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

/* biochemical-complex end */

/* contact start */

.contact {
    padding-top: 30px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 99px;
}

.contact-block {
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.contact-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-item-hrefs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact h2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    color: rgba(117, 117, 117, 1);
}

.contact a , .contact h3 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    color: rgba(24, 24, 24, 1);
}

.contact-item-phone {
    gap: 0px;
}

.contact-item-phone a , .contact-item-vk a {
    text-decoration: 1px solid underline;
}

.contact-item-phone a:first-of-type {
    margin-top: 30px;
}

.contact-map {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 75px;
}


/* contact end */



/* ------------------------------------------------------------------------------- */



/* responsiv start */


.logo,
.MobileAboutText {
    display: none;
}

@media screen and (max-width:1373px) {
    footer h2 {
        font-size: 26px;
    }
}

@media screen and (max-width:1330px) {
    .home-swiper-slide>div>h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .head>div>a {
        gap: 5px;
    }

    .head>div {
        gap: 10px;
    }

    .head {
        gap: 30px;
    }

    .home-about span {
        font-size: 24px;
    }

    .home-about {
        gap: 40px;
    }

    .biochemical-complex span {
        font-size: 20px;
    }
}

@media screen and (max-width:1210px) {
    .home-about span {
        font-size: 22px;
    }
}

@media screen and (max-width:1200px) {
    .biochemical-complex h3 {
        font-size: 13px;
    }

    .container {
        padding-left: 65px;
        padding-right: 65px;
    }

    header nav .navbar a {
        font-size: 18px;
    }

    .home-swiper-item {
        min-width: 500px;
    }

    .home-swiper-item h2 {
        font-size: 36px;
    }

    .home-swiper-item ul li {
        font-size: 24px;
    }

    .home-swiper-item button.btn-green {
        font-size: 24px;
        padding-right: 100px;
    }

    .home-swiper-item button.btn-green::after {
        right: 55px;
    }

    .home-swiper-item span {
        font-size: 16px;
    }

    .home-swiper-slide>div>h2 {
        font-size: 20px;
    }

    .search-test input {
        font-size: 24px;
    }

    .search-test input::placeholder {
        font-size: 24px;
    }

    .test-item h3 {
        font-size: 16px;
    }

    button.btn-green {
        min-height: 30px;
    }

    .home-about span {
        font-size: 16px;
    }

    .home-about h3 {
        font-size: 40px;
    }

    .home-about {
        gap: 30px;
    }

    h1 {
        font-size: 30px;
    }

    .rec-item h3 {
        font-size: 18px;
    }

    .rec-item span {
        font-size: 12px;
    }

    footer h2 {
        font-size: 22px;
    }

    footer h5 {
        font-size: 14px;
    }

    .phone {
        padding: 20px;
    }

    .phone-input input,
    .phone-input input::placeholder {
        font-size: 42px;
    }

    .phone-input button {
        font-size: 24px;
    }

    .phone>span {
        font-size: 16px;
    }

    .phone-bottom label {
        font-size: 20px;
    }
}

@media screen and (max-width:1135px) {
    .recommendations-item-btn-grn {
        font-size: 12px;
    }
    .contact-block {
        gap: 20px;
    }
    .contact a, .contact h3, .contact h2 {
        font-size: 24px;
    }
    .contact-content {
        gap: 50px;
    }

    .home-comments {
        padding-right: 25px;
    }

    p {
        font-size: 12px;
    }

    .biocomplex-block>img {
        max-width: 300px;
        max-height: 200px;
    }
}

@media screen and (max-width:1030px) {
    header nav .navbar a {
        font-size: 14px;
    }

    .home-about-item {
        min-height: 250px;
    }
}

@media screen and (max-width:1000px) {
    .test-item {
        padding: 20px 10px;
        border-radius: 10px;
    }

    .test-item h3 {
        font-size: 12px;
    }

    button.btn-green {
        font-size: 12px;
        min-height: fit-content;
        padding: 10px;
        padding-right: 35px;
    }

    button.btn-green::after {
        width: 18px;
        height: 18px;
        right: 10px;
    }

    .complex-research .test-item {
        height: 132px;
    }

    header>img {
        width: 60px;
        object-fit: cover;
    }

    .navbar-lab {
        height: 50px;
    }

    .head img {
        width: 20px;
        object-fit: cover;
    }

    .swiper-button-prev {
        width: 40px;
        height: 40px;
        left: 65px;
    }

    .swiper-button-next {
        width: 40px;
        height: 40px;
        right: 80px;
    }

    .search-test {
        max-height: 50px;
        height: 50px;
        padding: 0px 25px;
        gap: 20px;

    }

    .search-test input {
        font-size: 18px;
    }

    .search-test input::placeholder {
        font-size: 18px;
    }

    .search-test img {
        width: 25px;
        object-fit: cover;
    }
}

@media screen and (max-width:950px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .head>img {
        width: 40px;
        object-fit: cover;
    }

    .swiper-button-prev {
        left: 20px;
    }

    .swiper-button-next {
        right: 40px;
    }

    .home-about h3 {
        font-size: 32px;
    }

    .home-about span {
        font-size: 14px;
    }

    .home-about img {
        max-width: 70px;
    }

    .home-about-item {
        min-height: 200px;
    }

    footer li a {
        font-size: 18px;
    }

    footer h2 {
        font-size: 18px;
    }

    .navbar-lab>ul {
        padding: 10px;
        gap: 2px;
    }

    .head {
        gap: 10px;
    }

    .sales-block {
        grid-template-columns: 1fr 1fr;
    }

    .phone-input {
        flex-direction: column;
        height: fit-content;
    }

    .phone-input input {
        width: 100%;
    }
}

@media screen and (max-width:840px) {
    .biochemical-complex {
        gap: 10px;
    }

    .biocomplex-left {
        gap: 10px;
    }

    .biochemical-complex h3 {
        margin-top: 10px;
    }

    .biocomplex-block>img {
        display: none;
    }

    .biocomplex-left {
        width: 100%;
    }

    .biochemical-complex h2 {
        font-size: 12px;
    }

    .biochemical-complex ul li {
        font-size: 21px;
    }

    .biochemical-complex span {
        font-size: 12px;
    }

    .biochemical-complex h3 {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }

    .head div img {
        width: 15px;
    }

    .head>img {
        width: 30px;
    }

    header nav .navbar a {
        font-size: 12px;
    }

    header nav .navbar>li>img {
        width: 10px;
        object-fit: cover;
    }

    .home-swiper-item h2 {
        font-size: 30px;
    }

    .home-swiper-item ul li {
        font-size: 18px;
    }

    .home-swiper-item button.btn-green {
        padding-right: 60px;
        font-size: 20px;
    }

    .home-swiper-item button.btn-green::after {
        width: 20px;
        object-fit: cover;
        height: 22px;
        right: 30px;
    }

    .home-swiper-item span {
        font-size: 14px;
    }

    .home-swiper-slide>div>h2 {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    .footer-top-right>div img {
        width: 80px;
        object-fit: cover;
    }

}

@media screen and (max-width:780px) {
    .rec-item h3 {
        font-size: 16px;
    }

    .rec-item span {
        font-size: 10px;
    }

    .home-comments {
        padding: 15px;
    }

    .recommendations-btn-grn {
        font-size: 16px;
    }

    .recommendations-item-btn-grn {
        font-size: 10px;
    }

    .popular-tests {
        gap: 10px;
    }
    .contact-block {
        flex-direction: column;
    }
    .contact-item {
        width: 100%;
    }
    .contact a, .contact h3 {
        font-size: 16px;
    } 
    .contact h2 {
        font-size: 20px;
    }
    .contact-item-hrefs > img {
        width: 20px;
        height: 20px;
    }
    .contact-item-hrefs {
        gap: 10px;
    }
    .contact-block {
        gap: 40px;
    }
    .contact-item {
        gap: 20px;
    }
    .contact-item-phone a:first-of-type {
        margin-top: 20px;
    }
    .contact-item-phone {
        gap: 0px;
    }
}


@media screen and (max-width:736px) {
    .rec-item h3 {
        font-size: 14px;
    }

    .rec-item-bottom {
        padding: 15px;
    }

    footer li a {
        font-size: 14px;
    }

    .test-item h3 {
        font-size: 10px;
    }

    button.btn-green {
        font-size: 10px;
    }

    .recommendations-item-btn-grn {
        padding: 5px 10px;
    }

    .head>div {
        gap: 5px;
    }

    .head {
        gap: 5px;
    }
}

@media screen and (max-width:687px) {
    p {
        font-size: 8px;
    }

    .head div img {
        width: 13px;
    }

    .head>img {
        width: 20px;
    }

    header nav .navbar a {
        font-size: 10px;
    }

    header nav .navbar {
        gap: 5px;
    }

    header>img {
        width: 50px;
    }

    .home-swiper-slide>div>h2 {
        font-size: 14px;
    }

    button.btn-green {
        padding-right: 30px;
    }

    button.btn-green::after {
        width: 14px;
        height: 14px;
    }

    .test-item {
        gap: 10px;
    }

    .complex-research .test-item {
        height: 106px;
    }

    .popular-tests {
        padding-bottom: 30px;
    }

    .rec-item-bottom {
        padding: 10px;
    }

    footer h2 {
        font-size: 14px;
    }

    footer h5 {
        font-size: 12px;
    }
}

@media screen and (max-width:645px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-about img {
        max-width: 60px;
    }

    .home-about span {
        font-size: 12px;
    }

    .home-about h3 {
        font-size: 24px;
    }

    .home-about {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    footer li a {
        font-size: 12px;
    }

    footer span {
        font-size: 14px;
    }

    .footer-top {
        gap: 20px;
    }

    .footer-top-right>div img {
        width: 50px;
    }

    footer h2 {
        font-size: 12px;
    }

    footer h5 {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .home-swiper-slide>div>h2 {
        font-size: 12px;
    }

    .phone-bottom label {
        font-size: 18px;
    }

    .phone>span {
        font-size: 14px;
    }
}

@media screen and (max-width:568px) {
    .home-swiper-item {
        min-width: fit-content;
    }

    .home-swiper-item h2 {
        font-size: 24px;
    }

    .home-swiper-item {
        padding: 20px;
        padding-right: 70px;
    }

    .swiper-button-next img,
    .swiper-button-prev img {
        width: 30px;
        height: 30px;
    }

    .head {
        gap: 5px;
    }
}

@media screen and (max-width:550px) {

    .contact-map {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .contact {
        gap: 10px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    .burger-btn,
    .home-about-item h5,
    .home-about-item h4 {
        display: flex;
    }

    .head p {
        display: none;
    }

    .head>a:last-of-type img {
        display: none;
    }

    .logo {
        display: block;
    }

    .head div img {
        max-width: 30px;
        width: 30px;
        object-fit: cover;
    }

    .head>img {
        width: 60px;
        justify-self: flex-start;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .head {
        height: 69px;
        justify-content: flex-end;
        gap: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .head>div {
        justify-content: flex-end;
        gap: 20px;
    }

    .head .burger-btn {
        width: 30px;
        object-fit: cover;
        cursor: pointer;
    }

    header>img {
        display: none;
    }

    header {
        padding: 0;
        width: 0;
        height: 0;
    }

    nav {
        display: none;
        background: #fff;
        width: 100%;
        height: calc(100vh - 69px);
        position: fixed;
        z-index: 999;
        top: 69px;
        left: 0px;
    }

    nav.burgerOpen {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }

    header nav .navbar {
        justify-content: flex-start;
    }

    header nav .navbar a {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
        color: #000;
    }

    header nav .navbar>li {
        width: 100%;
        height: fit-content;
        padding: 15px 40px 15px 20px;
        border-bottom: 1px solid rgba(117, 117, 117, 1);
    }

    .navbar-lab>a {
        width: 100%;
    }

    .navbar-lab::after {
        display: none;

    }
    .navbar-lab-plus {
        position: relative;
    }
    .navbar-lab-plus::after {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(images/plus.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        transition: .2s;
    }

    .navbar-lab>ul {
        padding-top: 0px;
        width: 100%;
        position: unset;
        box-shadow: unset;
    }

    .rotate-plus::after {
        top: 0px;
        transform: rotate(45deg);
    }

    .navbar-lab {
        flex-direction: column;
    }

    .home-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: fit-content;
    }

    .home-about-item {
        width: 100%;
    }

    .swiper1 {
        display: none;
    }

    .home-swiper {
        width: 100%;
        height: 180px;
        background: url(images/back-view-doctor-holding-blood-sample1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .search-test {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    .test-item h3 {
        font-size: 16px;
    }

    button.btn-green {
        font-size: 13px;
    }

    .home-about-item {
        min-height: unset;
        height: fit-content;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .home-about img {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .home-about-item h5 {
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
        color: #fff;
    }

    .home-about-item h4 {
        font-family: Inter;
        font-size: 10px;
        font-weight: 700;
        color: #fff;
    }

    .home-about h3 {
        font-size: 20px;
    }

    .home-about-item h5:last-of-type {
        max-width: 123px;
    }

    .DesktopAboutText {
        display: none;
    }

    .MobileAboutText {
        display: flex;
    }

    .home-about span {
        text-transform: uppercase;
        font-weight: 700;
    }

    .home-about img {
        max-width: 45px;
    }

    .complex-research .test-item {
        padding: 25px;
        height: fit-content;
        min-height: 144px;
    }

    .rec-item h3 {
        width: 100%;
        max-width: 100%;
        font-size: 20px;
    }

    .rec-item-bottom {
        gap: 5px;
    }

    .recommendations-item-btn-grn {
        font-size: 16px;
        padding: 5px 20px;
    }

    .rec-item span {
        font-size: 12px;
    }

    .recommendations>.recommendations-btn-grn {
        display: none;
    }

    .rec-item h3 {
        font-size: 14px;
    }

    .rec-item span {
        font-size: 14px;
    }

    .rec-item-bottom {
        gap: 10px;
        padding: 15px 20px;
    }

    .home-comments>div>span {
        display: none;
    }

    .footer-top>img:first-of-type {
        display: none;
    }

    .footer-top-right>div img {
        width: 50px;
        height: 30px;
        border-radius: 10px;
    }

    footer span {
        font-size: 12px;
    }

    .footer-top-right>div {
        gap: 10px;
    }

    footer ul {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .footer-top {
        padding-bottom: 10px;
        border: none;
    }

    footer li a {
        font-size: 18px;
    }

    footer h5 {
        font-size: 10px;
        margin-top: 45px;
        text-align: left;
    }

    footer h2 {
        font-size: 16px;
        margin-top: 30px;
        text-align: left;
    }

    .call-nurse-box {
        display: flex;
    }

    .sales-block {
        grid-template-columns: 1fr;
    }

    .sales-item h2 {
        font-size: 16px;
    }

    .sales-item h3 {
        font-size: 24px;
    }

    .sales-item h4 {
        font-size: 12px;
    }

    .sales-item span {
        max-width: 200px;
        font-size: 10px;
    }

    .phone {
        gap: 10px;
    }

    .phone h2 {
        display: none;
    }

    .phone-top h1 {
        text-align: left;
    }

    .phone-input input,
    .phone>span,
    .phone-bottom {
        display: none;
    }
}

@media screen and (max-width:340px) {
    .head div img {
        width: 20px;
    }

    .test-item h3,
    .rec-item-bottom>button,
    .recommendations-item-btn-grn {
        font-size: 12px;
    }

    .complex-research .test-item {
        padding: 15px;
    }
}

/* responsiv end */